body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Baloo Tamma 2', cursive;
}

html {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}
.ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  cursor: pointer;
}

.ripple::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.ripple:active::after {
  transform: scale(0, 0);
  opacity: 0.3;
  transition: 0s;
}
.dropdown-item {
  padding: 0;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
.b-skeleton > .b-skeleton-item {
    background: -webkit-gradient(linear, left top, right top, color-stop(25%, #dbdbdb52), color-stop(50%, rgba(219, 219, 219, 0.1)), color-stop(75%, #dbdbdb)) !important;
    background: linear-gradient(90deg, #dbdbdb4d 25%, rgba(219, 219, 219, 0.2) 50%, #dbdbdb4d 75%);
    background-size: 400% 100%;
    width: 100%;
}
@media screen and (min-width: 1024px){
  .navbar-dropdown a.navbar-item {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    transition: color 200ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 14px;
  }
  .navbar-dropdown a.navbar-item:hover {
    color: #ff7070 !important;
  }
  .navbar-dropdown a.navbar-item::after {
    opacity: 0;
  }
  .navbar-dropdown{
    background-color: #6B048C;
  }
}
@media only screen and (max-width: 1023px) {
  .navbar-menu,.navbar-dropdown {
    padding: 0 !important;
  }
  .navbar-dropdown .navbar-item {
    padding-right: 0;
    padding-left: 40px;
  }
  .navbar-dropdown .navbar-item:hover {
    padding-left:47px !important;
    padding-right: 0;
  }
  .navbar-link {
    font-weight: bold !important;
    color: #540474 !important;
  }
  .navbar-link:hover {
    font-weight: bold !important;
    color: #540474;
  }
}
